{% extends "base.html" %}

{% block content %}
    <h1>Welcome to RPGuru</h1>
    <p>
        This site is about Japanese games (as the name implies, RPGs mostly) and whether or not they retained the
        Japanese voice track when they were localized and released in North America and Europe.
        There are some that may find it odd, but some people simply prefer playing games with the original voice track.
    </p>

    <h2 class="text-center">Latest Games</h2>
    {% for game in games %}
        {% include 'library/_game.html' with game=game only %}
    {% endfor %}

{% endblock content %}